
@using SubChildComponentIssue.Apps

  <DemoPage @ref=Page  Title2="@Title2">
        <DemoHeader Title2="@Title2"/>
        <div>
            Comp2
        </div>
        <div>
                Values:
                @Title1 |
                @Title2
                (The values at this level do NOT get combined)
        </div>
    </DemoPage>

 @code {
      [Parameter] public DemoApp App { get; set; }

 private DemoPage page;
 protected DemoPage Page {
     get => page; 
    set {
        page = value;
        App.Page2 = value;
    }
 }

    [Parameter] public string Title1 { get; set; }
    [Parameter] public string Title2 { get; set; }

 }
