
    <DemoPage @ref=Page Title1="@Title1">
        <DemoHeader Id="H1"  Title1="@Title1" />
        <div>
             Comp1
        </div>
        <div>
                Values:
                @Title1 |
                @Title2
                (The values at this level do NOT get combined)
        </div>
        
        <div style="color:red"> Plus this counter doesn't work (inside a sub component)</div>
               <p>Current count: @currentCount</p>

            <AddTo @bind-Count="currentCount" />
            <AddTo @bind-Count="currentCount" AddValue="-1" />
    </DemoPage>


@code {
 [Parameter] public DemoApp App { get; set; }
 private DemoPage page;
 protected DemoPage Page {
     get => page; 
    set {
        page = value;
        App.Page1 = value;
    }
 }

    [Parameter] public string Title1 { get; set; }
    [Parameter] public string Title2 { get; set; }
    private int currentCount = 0;
}
